{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<div class="footer">
	<f:if condition="{configuration.general.page} > 0">
		<f:link.action 			
			action="previousPageInEditMode"
			additionalParams="{sav:changeCompressedParameters(
				arguments:{formAction:'previousPageInEditMode', page:configuration.general.page},
				additionalParams:configuration.general.additionalParams
				)}">
			<f:image class="previousPage"
				src="{sav:getIconSrc(fileName:'previous')}"
				alt="{f:translate(key:'button.previous', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.previous', extensionName:'SavLibraryPlus')}" />
		</f:link.action>
	</f:if>
	<f:if
		condition="{configuration.general.page} < {configuration.general.lastPage}">
		<f:link.action 		
			action="nextPageInEditMode"
			additionalParams="{sav:changeCompressedParameters(
				arguments:{formAction:'nextPageInEditMode', page:configuration.general.page},
				additionalParams:configuration.general.additionalParams
				)}">
			<f:image class="nextPage" src="{sav:getIconSrc(fileName:'next')}"
				alt="{f:translate(key:'button.next', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.next', extensionName:'SavLibraryPlus')}" />
		</f:link.action>
	</f:if>
</div>

