{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<div class="footer">
	<f:if condition="{configuration.general.lastPage} > 0">
		<f:if condition="{configuration.general.showFirstLastButtons}">
			<f:link.action 
				action="firstPageInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'firstPageInEditMode', page:configuration.general.page},
					additionalParams:configuration.general.additionalParams
					)}">			
				<f:image class="backwardFirstPage"
					src="{sav:getIconSrc(fileName:'backwardFirstPage')}"
					alt="{f:translate(key:'button.backwardFirstPage', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.backwardFirstPage', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:if>
		<f:if condition="{configuration.general.page} > 0">
			<f:then>
				<f:link.action 				
					action="previousPageInEditMode"
					additionalParams="{sav:changeCompressedParameters(
						arguments:{formAction:'previousPageInEditMode', page:configuration.general.page},
						additionalParams:configuration.general.additionalParams
						)}">	
					<f:image class="backwardPage"
						src="{sav:getIconSrc(fileName:'backwardPage')}"
						alt="{f:translate(key:'button.backwardPage', extensionName:'SavLibraryPlus')}"
						title="{f:translate(key:'button.backwardPage', extensionName:'SavLibraryPlus')}" />
				</f:link.action>
			</f:then>
			<f:else>
				<f:image class="backwardPage"
					src="{sav:getIconSrc(fileName:'backwardPageNotPossible')}"
					alt="{f:translate(key:'button.backwardPageNotPossible', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.backwardPageNotPossible', extensionName:'SavLibraryPlus')}" />
			</f:else>
		</f:if>
		<f:for each="{configuration.general.pages}" as="page" key="pageKey">
			<f:link.action 			
				action="listInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'listInEditMode',page:pageKey},
					additionalParams:configuration.general.additionalParams
					)}"
				class="{f:if(condition:'{configuration.general.page} == {pageKey}',then:'selected',else:'notSelected')}">
          <span>{page}</span>
        	</f:link.action>
		</f:for>
		<f:if
			condition="{configuration.general.page} < {configuration.general.lastPage}">
			<f:then>
				<f:link.action 				
					action="nextPageInEditMode"
					additionalParams="{sav:changeCompressedParameters(
						arguments:{formAction:'nextPageInEditMode', page:configuration.general.page},
						additionalParams:configuration.general.additionalParams
						)}">
					<f:image class="forwardPage"
						src="{sav:getIconSrc(fileName:'forwardPage')}"
						alt="{f:translate(key:'button.forwardPage', extensionName:'SavLibraryPlus')}"
						title="{f:translate(key:'button.forwardPage', extensionName:'SavLibraryPlus')}" />
				</f:link.action>
			</f:then>
			<f:else>
				<f:image class="forwardPage"
					src="{sav:getIconSrc(fileName:'forwardPageNotPossible')}"
					alt="{f:translate(key:'button.forwardPageNotPossible', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.forwardPageNotPossible', extensionName:'SavLibraryPlus')}" />
			</f:else>
		</f:if>
		<f:if condition="{configuration.general.showFirstLastButtons}">
			<f:link.action 				
				action="lastPageInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'lastPageInEditMode', page:configuration.general.page},
					additionalParams:configuration.general.additionalParams
					)}">				
				<f:image class="forwardLastPage"
					src="{sav:getIconSrc(fileName:'forwardLastPage')}"
					alt="{f:translate(key:'button.forwardLastPage', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.forwardLastPage', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:if>
	</f:if>
</div>

