{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<div class="footer">
	<f:if condition="{configuration.general.lastPageInSubform} > 0">
		<f:if condition="{configuration.general.showFirstLastButtons}">
			<f:link.action 
			    action="firstPageInSubformInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'firstPageInSubformInEditMode', subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey},
					additionalParams:configuration.general.additionalParams
					)}">			    
				<f:image class="backwardFirstPage"
					src="{sav:getIconSrc(fileName:'backwardFirstPage')}"
					alt="{f:translate(key:'button.backwardFirstPage', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.backwardFirstPage', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:if>
		<f:if condition="{configuration.general.pageInSubform} > 0">
			<f:then>
				<f:link.action 
				    action="previousPageInSubformInEditMode"
					additionalParams="{sav:changeCompressedParameters(
						arguments:{formAction:'previousPageInSubformInEditMode', subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey},
						additionalParams:configuration.general.additionalParams
						)}">					    
					<f:image class="backwardPage"
						src="{sav:getIconSrc(fileName:'backwardPage')}"
						alt="{f:translate(key:'button.backwardPage', extensionName:'SavLibraryPlus')}"
						title="{f:translate(key:'button.backwardPage', extensionName:'SavLibraryPlus')}" />
				</f:link.action>
			</f:then>
			<f:else>
				<f:image class="backwardPage"
					src="{sav:getIconSrc(fileName:'backwardPageNotPossible')}"
					alt="{f:translate(key:'button.backwardPageNotPossible', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.backwardPageNotPossible', extensionName:'SavLibraryPlus')}" />
			</f:else>
		</f:if>
		<f:for each="{configuration.general.pagesInSubform}" as="page"
			key="pageKey">
			<f:link.action 
			    action="changePageInSubformInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'changePageInSubformInEditMode', pageInSubform:pageKey, subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey},
					additionalParams:configuration.general.additionalParams
					)}"	
				class="{f:if(condition:'{configuration.general.pageInSubform} == {pageKey}',then:'selected',else:'notSelected')}">
          <span>{page}</span>
        </f:link.action>
		</f:for>
		<f:if
			condition="{configuration.general.pageInSubform} < {configuration.general.lastPageInSubform}">
			<f:then>
				<f:link.action 
				    action="nextPageInSubformInEditMode"
					additionalParams="{sav:changeCompressedParameters(
						arguments:{formAction:'nextPageInSubformInEditMode', subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey},
						additionalParams:configuration.general.additionalParams
						)}">					    
					<f:image class="forwardPage"
						src="{sav:getIconSrc(fileName:'forwardPage')}"
						alt="{f:translate(key:'button.forwardPage', extensionName:'SavLibraryPlus')}"
						title="{f:translate(key:'button.forwardPage', extensionName:'SavLibraryPlus')}" />
				</f:link.action>
			</f:then>
			<f:else>
				<f:image class="forwardPage"
					src="{sav:getIconSrc(fileName:'forwardPageNotPossible')}"
					alt="{f:translate(key:'button.forwardPageNotPossible', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.forwardPageNotPossible', extensionName:'SavLibraryPlus')}" />
			</f:else>
		</f:if>
		<f:if condition="{configuration.general.showFirstLastButtons}">
			<f:link.action 
			    action="lastPageInSubformInEditMode"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:'lastPageInSubformInEditMode', subformUidLocal:configuration.general.subformUidLocal,subformFieldKey:configuration.general.subformFieldKey},
					additionalParams:configuration.general.additionalParams
					)}">
				<f:image class="forwardLastPage"
					src="{sav:getIconSrc(fileName:'forwardLastPage')}"
					alt="{f:translate(key:'button.forwardLastPage', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.forwardLastPage', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:if>
	</f:if>
</div>
