{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<div class="orderAscDesc">
	<f:if
		condition="{field.whereTagKey} == {field.whereTagAscendingOrderKey}">
		<f:then>
			<f:image class="orderAscAbove"
				src="{sav:getIconSrc(fileName:'orderAscSelected')}"
				alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}" />
		</f:then>
		<f:else>
			<sav:link.action action="list{field.inEditMode}"
				additionalParams="{configuration.general.additionalParams}"
				arguments="{whereTagKey:field.whereTagAscendingOrderKey}">
				<f:image class="orderAscAbove"
					src="{sav:getIconSrc(fileName:'orderAsc')}"
					alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}" />
			</sav:link.action>
		</f:else>
	</f:if>
	<f:if
		condition="{field.whereTagKey} == {field.whereTagDescendingOrderKey}">
		<f:then>
			<f:image class="orderDescBelow"
				src="{sav:getIconSrc(fileName:'orderDescSelected')}"
				alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
		</f:then>
		<f:else>
			<sav:link.action action="list{field.inEditMode}"
				additionalParams="{configuration.general.additionalParams}"
				arguments="{whereTagKey:field.whereTagDescendingOrderKey}">
				<f:image class="orderDescBelow"
					src="{sav:getIconSrc(fileName:'orderDesc')}"
					alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
			</sav:link.action>
		</f:else>
	</f:if>
</div>
