{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<div class="orderAscDesc">
	<f:variable name="action">list{field.inEditMode}</f:variable>
	<f:if
		condition="{field.whereTagKey} == {field.whereTagAscendingOrderKey}">
		<f:then>
			<f:image class="orderAscAbove"
				src="{sav:getIconSrc(fileName:'orderAscSelected')}"
				alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}" />
		</f:then>
		<f:else>
			<f:link.action 			
				action="{action}"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:action, whereTagKey:field.whereTagAscendingOrderKey},
					additionalParams:configuration.general.additionalParams
					)}">				
				<f:image class="orderAscAbove"
					src="{sav:getIconSrc(fileName:'orderAsc')}"
					alt="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.orderAsc', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:else>
	</f:if>
	<f:if
		condition="{field.whereTagKey} == {field.whereTagDescendingOrderKey}">
		<f:then>
			<f:image class="orderDescBelow"
				src="{sav:getIconSrc(fileName:'orderDescSelected')}"
				alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
		</f:then>
		<f:else>
			<f:link.action 		
				action="{action}"
				additionalParams="{sav:changeCompressedParameters(
					arguments:{formAction:action, whereTagKey:field.whereTagDescendingOrderKey},
					additionalParams:configuration.general.additionalParams
					)}">				
				<f:image class="orderDescBelow"
					src="{sav:getIconSrc(fileName:'orderDesc')}"
					alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
					title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
			</f:link.action>
		</f:else>
	</f:if>
</div>
