{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<f:if
	condition="{field.whereTagKey} == {field.whereTagDescendingOrderKey}">
	<f:then>
		<f:image class="orderDesc"
			src="{sav:getIconSrc(fileName:'orderDescSelected')}"
			alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
			title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
	</f:then>
	<f:else>
		<f:variable name="action">list{field.inEditMode}</f:variable>
		<f:link.action 	
			action="{action}"
			additionalParams="{sav:changeCompressedParameters(
				arguments:{formAction:action, whereTagKey:field.whereTagDescendingOrderKey},
				additionalParams:configuration.general.additionalParams
				)}">
			<f:image class="orderDesc" src="{sav:getIconSrc(fileName:'orderDesc')}"
				alt="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}"
				title="{f:translate(key:'button.orderDesc', extensionName:'SavLibraryPlus')}" />
		</f:link.action>
	</f:else>
</f:if>


