{namespace sav=SAV\SavLibraryPlus\ViewHelpers}
<f:if condition="{field.whereTagKey}">
	<f:then>
		<f:if
			condition="{field.whereTagKey} == {field.whereTagAscendingOrderKey}">
			<f:then>
				<sav:link.action action="list{field.inEditMode}"
					additionalParams="{configuration.general.additionalParams}"
					class="orderAsc"
					arguments="{whereTagKey:field.whereTagDescendingOrderKey}">
					<span class="linkLabel">{field.valueAsc}</span>
				</sav:link.action>
			</f:then>
			<f:else>
				<sav:link.action action="list{field.inEditMode}"
					additionalParams="{configuration.general.additionalParams}"
					class="orderDesc"
					arguments="{whereTagKey:field.whereTagAscendingOrderKey}">
					<span class="linkLabel">{field.valueDesc}</span>
				</sav:link.action>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<sav:link.action action="list{field.inEditMode}"
			additionalParams="{configuration.general.additionalParams}"
			class="orderAsc"
			arguments="{whereTagKey:field.whereTagDescendingOrderKey}">
			<span class="linkLabel">{field.valueAsc}</span>
		</sav:link.action>
	</f:else>
</f:if>


