{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<f:variable name="action">list{field.inEditMode}</f:variable>
<f:if
	condition="{field.whereTagKey} == {field.whereTagAscendingOrderKey}">
	<f:then>
		<f:link.action 				
			action="{action}"
			additionalParams="{sav:changeCompressedParameters(
				arguments:{formAction:action, whereTagKey:field.whereTagDescendingOrderKey},
				additionalParams:configuration.general.additionalParams
				)}"
			class="orderAsc">			
			<span class="linkLabel">{field.valueAsc}</span>
		</f:link.action>
	</f:then>
	<f:else>
		<f:link.action 			
			action="{action}"
			additionalParams="{sav:changeCompressedParameters(
				arguments:{formAction:action, whereTagKey:field.whereTagAscendingOrderKey},
				additionalParams:configuration.general.additionalParams
				)}"
			class="orderDesc">			
			<span class="linkLabel">{field.valueDesc}</span>
		</f:link.action>
	</f:else>
</f:if>


