{namespace sav=YolfTypo3\SavLibraryPlus\ViewHelpers}
<f:layout name="Default.html" />

<f:section name="content">
<f:format.raw>
	<div class="editView view">
		<sav:form name="{configuration.general.formName}" method="post"
		    id="id_{configuration.general.formName}"
			enctype="multipart/form-data" action="save"
			additionalParams="{configuration.general.additionalParams}"
			arguments="{viewId:configuration.general.viewIdentifier}">
			<f:render partial="TitleBars/EditView/Default.html"
				arguments="{configuration:configuration}" />
			<f:if condition="{configuration.folders}">
				<div class="folderTabs">
					<ul class="folderTabs">
						<f:for each="{configuration.folders}" as="folder" key="folderKey">
							<li {f:if(condition:'{folderKey} ==
								{configuration.general.activeFolderKey}', then:'class="currentTab"')}>
								<sav:link.action
									action="{f:if(condition:configuration.general.isNewView,then:'new',else:'edit')}"
									additionalParams="{configuration.general.additionalParams}"
									arguments="{folderKey:folderKey}"
									onclick="return submitIfChanged('{configuration.general.formName}');">
									<span><f:translate key="{folder.label}" default="{folder.label}"
											extensionName="{configuration.general.extensionName}" /></span>
								</sav:link.action>
							</li>
						</f:for>
					</ul>
					<div class="right"></div>
				</div>
			</f:if>
			<div class="items">
				<f:for each="{configuration.fields}" as="field">
					<sav:typoscript.wrap configuration="{field.wrapItem}">
						<f:comment>Cutter for the fusion and cut conditions</f:comment>
						<f:if condition="{field.cutDivItemBegin}!=1">
							<div class="{field.classItem}">
						</f:if>
						<f:comment>Cutter for the fusion and cut conditions</f:comment>
						<f:if condition="{field.cutDivItemInner}!=1">
						    <sav:typoscript.wrap configuration="{field.wrapInnerItem}">
							<div class="{field.classField}">
								<f:if condition="{field.cutLabel}!=1">
									<div
										class="{field.classLabel}{f:if(condition:'{field.error}',then:' error')}"
										{f:if(condition:'{field.styleLabel}', then:' style=""')}>
										{field.label}
										<f:if condition="{field.required}">
											<f:image src="{sav:getIconSrc(fileName:'required')}"
												class="required" alt="{f:translate(key:'icon.required', extensionName:'SavLibraryPlus')}"
												title="{f:translate(key:'icon.required', extensionName:'SavLibraryPlus')}" />
										</f:if>
									</div>
								</f:if>
								<f:if condition="{field.subform}">
									<f:then>
										{field.value}
									</f:then>
									<f:else>
									   <sav:typoscript.wrap configuration="{field.wrapValue}">
										<div class="{field.classValue}"
											{f:if(condition:'{field.styleValue}', then:' style=""')}>
											{field.value}
										</div>
										</sav:typoscript.wrap>
									</f:else>
								</f:if>
							</div>
							</sav:typoscript.wrap>
						</f:if>
						<f:comment>Cutter for the fusion and cut conditions</f:comment>
						<f:if condition="{field.cutDivItemEnd}!=1">
							<div class="right"></div>
			</div>
			</f:if>
			</sav:typoscript.wrap>
			</f:for>
	</div>
	<f:render partial="Footers/EditView/Default.html"
		arguments="{configuration:configuration}" />
	</sav:form>
	</div>
</f:format.raw>	
</f:section>
