{namespace sav=SAV\SavLibraryPlus\ViewHelpers}
<f:layout name="Default.html" />

<f:section name="content">

	<div class="printView view">
		<f:render partial="TitleBars/SingleView/Default.html"
			arguments="{configuration:configuration}" />
		<div class="items">
			<f:if condition="{configuration.general.message}">
				<span class="message">{configuration.general.message}</span>
			</f:if>
			<f:for each="{configuration.fields}" as="field">
				<div
					class="{field.classItem}{f:if(condition:field.configuration.isInDraftWorkspace,then:' draftWorkspace')}">
					<div class="value">
						<f:format.raw>{field.template}</f:format.raw>
					</div>
					<div class="right"></div>
				</div>
			</f:for>
		</div>
		<f:render partial="Footers/SingleView/Default.html"
			arguments="{configuration:configuration}" />
	</div>
</f:section>
