/*
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with TYPO3 source code.
 *
 * The TYPO3 project - inspiring people to share!
 *
 * Default CSS - Extension 'SAV Library Plus'
 *  
 * @author  Laurent Foulloy (yolf.typo3@orange.fr)
 */

/**
 * General definitions 
 */
.savLibraryPlus {
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	background-color: inherit;
	color: #004898;
    line-height: initial;	
}

savLibraryPlus .*::after, savLibraryPlus .*::before {
	box-sizing: border-box;
}

.savLibraryPlus a {
	float: left;
	text-decoration: none;
	background-color: inherit;
	font-weight: bold;
	color: #4176FF;
}

.savLibraryPlus a:hover {
	color: #EA6900;
}

.savLibraryPlus a:active {
	color: #4176FF;
}

.savLibraryPlus div {
	float: left;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

.savLibraryPlus input {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus li {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus .message li {
    float: none;
}

.savLibraryPlus .message li a {
    float: none;
}

.savLibraryPlus select {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus span {
	float: left;
	background-color: inherit;
	margin: 0;
	padding: 0;
}

.savLibraryPlus textarea {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus td {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus tr {
	float: left;
	margin: 0;
	padding: 0;
}

.savLibraryPlus ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

/**
 * Errors or messages
 */
.savLibraryPlus div.message {
	margin-bottom: 10px;
}

.savLibraryPlus div.message li.error {
	background-color: inherit;
	clear: left;
	color: red;
}

.savLibraryPlus div.message li.message {
	background-color: inherit;
	font-weight: bold;
}
.savLibraryPlus .formView div.error {
	border: 2px solid red;
}

/**
 * Icons
 */
.savLibraryPlus img {
	float: left;
	padding: 0px 1px 0px 1px;
	margin: 0px;
	border-width: 0px;
}

.savLibraryPlus img.toggleModeButton {
	width: 18px;
	height: 16px;
}

.savLibraryPlus img.edit {
	height: 16px;
	width: 21px;
}

.savLibraryPlus img.new {
	height: 16px;
	width: 21px;
	padding: 0;
}

.savLibraryPlus img.print {
	width: 18px;
	height: 16px;
}

.savLibraryPlus input.generateRTFButton {
	width: 20px;
	height: 20px;
}

.savLibraryPlus img.exportButton {
	padding-right: 5px;
}

.savLibraryPlus img.orderAsc {
	padding: 3px 5px 0px 5px;
}

.savLibraryPlus img.orderDesc {
	padding: 3px 5px 0px 5px;
}

.savLibraryPlus img.orderAscAbove {
	padding: 3px 5px 0px 5px;
}

.savLibraryPlus img.orderDescBelow {
	clear: left;
	padding: 3px 5px 0px 5px;
}

.savLibraryPlus img.checkboxNotSelected {
	padding: 0px;
}

.savLibraryPlus img.printButton {
	width: 18px;
	height: 16px;
}

.savLibraryPlus input.exportokButton {
	float: left;
	padding-right: 5px;
}

.savLibraryPlus button.exportQueryMode {
	border: none;
	background: none;
	float: left;
	padding-left: 3px;
}

.savLibraryPlus input.exportToggleMode {
	float: left;
	padding-left: 3px;
}

.savLibraryPlus input.submitButton {
	font-size: 9px;
	margin-top: 1px;
}

.savLibraryPlus img.rightArrowButtonSubForm {
	float: none;
	padding-left: 2px;
	margin: 0px;
}

.savLibraryPlus img.leftArrowButtonSubForm {
	float: none;
	padding-left: 2px;
	margin: 0px;
}

.savLibraryPlus div.itemIconLeft img.deleteItemButton {
	padding: 1px 0px 1px 0px;
	margin: 0px;
}

.savLibraryPlus div.itemIconLeft img.upButton {
	padding: 1px 0px 1px 1px;
	margin: 0px;
}

.savLibraryPlus div.itemIconLeft img.downButton {
	padding: 1px 1px 1px 0px;
	margin: 0px;
}

.savLibraryPlus div.itemIconLeft input.saveButton {
	padding: 1px 0px 1px 0px;
	margin: 0px;
}

.savLibraryPlus input.exportDeleteConfiguration {
	background-image: url(../Icons/exportDeleteConfiguration.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.exportExecute {
	background-image: url(../Icons/exportExecute.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.exportLoadConfiguration {
	background-image: url(../Icons/exportLoadConfiguration.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.exportSaveConfiguration {
	background-image: url(../Icons/exportSaveConfiguration.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.exportToggleDisplay {
	background-image: url(../Icons/exportToggleDisplay.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.save {
	background-image: url(../Icons/save.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.saveAndClose {
	background-image: url(../Icons/saveAndClose.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.saveAndShow {
	background-image: url(../Icons/saveAndShow.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

.savLibraryPlus input.saveAndNew {
	background-image: url(../Icons/saveAndNew.gif);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 21px;
	height: 16px;
	border: 0;
	cursor: pointer;
}

/**
 * Special tags 
 */
.savLibraryPlus div.right {
	float: right;
	height: 1px;
}

.savLibraryPlus span.left {
	float: left;
	padding: 0px 3px 0px 3px;
}

.savLibraryPlus div.left {
	float: left;
}

.savLibraryPlus div.clearLeft, .savLibraryPlus span.clearLeft {
	clear: left;
}

.savLibraryPlus div.hide {
	visibility: hidden;
}

/**
 * Title bar 
 */
.savLibraryPlus div.titleBar {
	width: 100%;
	background-color: #9999cc;
	min-height: 20px;
}

.savLibraryPlus .subform div.titleBar {
	width: 100%;
	background-color: #9999cc;
	min-height: 20px;
}

.savLibraryPlus div.draftWorkspace {
	background-color: #a9699C;
}

.savLibraryPlus .titleBar div.titleIconLeft {
	padding: 2px 4px 2px 4px;
}

.savLibraryPlus .titleBar .titleIconLeft input {
	float: left;
}

.savLibraryPlus .titleBar .titleIconLeft a {
	float: left;
}

.savLibraryPlus .titleBar div.titleLabel {
	color: #ffffff;
	font-size: 115%;
	font-weight: bold;
	vertical-align: middle;
	padding: 0px 4px 0px 4px;
}

.savLibraryPlus .titleBar .titleLabel span {
	
}

.savLibraryPlus .titleBar .titleLabel li {
	width: 150px;
	background-color: inherit;
	color: #ffffff;
	font-size: 115%;
	font-weight: bold;
	text-align: left;
	background-image: none;
}

.savLibraryPlus .titleBar .titleLabel li a {
	color: #ffffff;
}

.savLibraryPlus .titleBar .titleLabel li A:hover {
	color: #EA6900;
}

.savLibraryPlus .titleBar .titleLabel li .orderAscDesc {
	width: 10px;
}

.savLibraryPlus .titleBar div.titleIconRight {
	float: right;
	padding: 2px;
}

.savLibraryPlus .subform .titleBar div.titleIconRight {
	float: right;
	padding: 2px;
}

/**
 * Folder Tabs 
 */
.savLibraryPlus div.folderTabs {
	width: 100%;
	background: #ffffff url(Images/folderTabBorder.gif) repeat-x bottom;
	color: inherit;
	margin-top: 1px;
}

.savLibraryPlus .folderTabs li {
	display: inline !important;
	padding: 0;
	padding-top: 1px;
}

.savLibraryPlus .folderTabs li a {
	background: url(Images/folderTabRight.gif) no-repeat right top;
	border-bottom: 1px solid #84B0C7;
	font-weight: bold;
	text-decoration: none;
}

.savLibraryPlus .folderTabs li a span {
	display: block !important;
	background: url(Images/folderTabLeft.gif) no-repeat left top;
	padding: 4px 9px !important;
	white-space: nowrap;
}

.savLibraryPlus .folderTabs li.currentTab a {
	background-position: 100% -150px;
	border-width: 0px;
}

.savLibraryPlus .folderTabs li A:hover {
	background-position: 100% -150px;
}

.savLibraryPlus .folderTabs li A:hover span {
	background-position: 0% -150px;
}

.savLibraryPlus .folderTabs li.currentTab a span {
	background-position: 0% -150px;
	padding-bottom: 5px !important;
}

/**
 * Footer 
 */
.savLibraryPlus div.footer {
	width: 100%;
	margin: 1px 0 0 0;
	text-align: center;
	height: auto;
	padding: 3px;
}

.savLibraryPlus .footer div.footerIconRight {
	float: right;
	padding: 2px;
}

.savLibraryPlus .footer a {
	float: none;
}

.savLibraryPlus .footer a.selected {
	color: #EA6900;
}

.savLibraryPlus .footer a.notSelected {
	
}

.savLibraryPlus .footer img {
	float: none;
	margin: 0;
}

.savLibraryPlus .footer img.previousPage {
	padding-right: 2px;
}

.savLibraryPlus .footer img.nextPage {
	padding-left: 2px;
}

.savLibraryPlus .footer img.backwardFirstPage {
	padding-right: 2px;
}

.savLibraryPlus .footer img.backwardPage {
	padding-right: 2px;
}

.savLibraryPlus .footer img.forwardPage {
	padding-left: 2px;
}

.savLibraryPlus .footer img.forwardLastPage {
	padding-left: 2px;
}

/**
 * Views
 */
.savLibraryPlus div.view {
	margin: 0 0 15px 0;
	overflow: hidden;
	padding: 1px;
}

/**
 * List view, Form view, Form Admin view, Print view
 */
.savLibraryPlus div.listHidden {
	display: none;
}

.savLibraryPlus div.listView, .savLibraryPlus div.formView,
	.savLibraryPlus div.formAdminView, .savLibraryPlus div.printView {
	width: 100%;
	width: calc(100% - 2px);
	border: 1px #000099 solid;
	background-color: #f1fbfd;
}

.savLibraryPlus .listView div.items, .savLibraryPlus .formView div.items,
	.savLibraryPlus .formAdminView div.items, .savLibraryPlus .printView div.items
	{
	width: 100%;
	background-color: #ffffff;
}

.savLibraryPlus .listView .items div.item, .savLibraryPlus .formView .items div.item,
	.savLibraryPlus .formAdminView .items div.item, .savLibraryPlus .printView .items div.item
	{
	width: 100%;
	border-top: 1px #ddeeee solid;
	border-bottom: 1px #ddeeee solid;
	background-color: #f1fbfd;
	margin-bottom: 1px;
}

/**
 * List view, Form view, Form Admin view, Print view Item 
 */
.savLibraryPlus .listView .items .item div.itemIconLeft, .savLibraryPlus .formView .items .item div.itemIconLeft,
	.savLibraryPlus .formAdminView .items .item div.itemIconLeft,
	.savLibraryPlus .printView .items .item div.itemIconLeft {
	padding: 2px;
	width: 25px;
}

.savLibraryPlus .listView .items .item div.value, .savLibraryPlus .formView .items .item div.value,
	.savLibraryPlus .formAdminView .items .item div.value, .savLibraryPlus .printView .items .item div.value {
	
}

.savLibraryPlus .listView ul, .savLibraryPlus .formView ul,
	.savLibraryPlus .formAdminView ul, .savLibraryPlus .printView ul {
	
}

.savLibraryPlus .listView li, .savLibraryPlus .formView li,
	.savLibraryPlus .formAdminView li, .savLibraryPlus .printView li {
	width: 150px;
	padding: 4px;
	text-align: left;
}

.savLibraryPlus .listView div.block, .savLibraryPlus .formView div.block,
	.savLibraryPlus .formAdminView div.block, .savLibraryPlus .printView div.block {
	width: 99%;
	width: calc(100% - 14px);
	border: solid 1px #004898;
	padding: 4px;
	margin: 2px;
}

.savLibraryPlus .listView div.blockFields, .savLibraryPlus .formView div.blockFields,
	.savLibraryPlus .formAdminView div.blockFields, .savLibraryPlus .printView div.blockFields {
	clear: left;
	width: 100%;
}

.savLibraryPlus .listView div.blockHide, .savLibraryPlus .formView div.blockHide,
	.savLibraryPlus .formAdminView div.blockHide, .savLibraryPlus .printView div.blockHide {
	visibility: hidden;
	height: 0px;
}

.savLibraryPlus .listView div.blockTitle, .savLibraryPlus .formView div.blockTitle,
	.savLibraryPlus .formAdminView div.blockTitle, .savLibraryPlus .printView div.blockTitle {
	font-weight: bold;
	border-bottom: solid 1px #004898;
	width: 30%;
	min-width: 210px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

/**
 * List view specific configuration 
 */
.savLibraryPlus .listView .items div.draftWorkspace {
	background-color: #f1dbdd;
}

/**
 * Form view specific configuration 
 */
.savLibraryPlus .formView div.footer, .savLibraryPlus .formAdminView div.footer {
	background-color: #9999cc;
}

.savLibraryPlus .formView div.label, .savLibraryPlus .formAdminView div.label {
	font-weight: bold;
	padding: 0 5px 0 5px;
}

.savLibraryPlus .formView div.field, .savLibraryPlus .formAdminView div.field {
	padding: 2px 5px 2px 5px;
}

.savLibraryPlus .formView span.required, .savLibraryPlus .formAdminView span.required {
	color: red;
	font-weight: bold;
	padding: 0 5px 0 5px;
	float: none;
}
.savLibraryPlus .formView .checkbox, .savLibraryPlus .formAdminView .checkbox {
    float: left;
    padding: 2px;	
}
.savLibraryPlus .formView .checkbox input[type="checkbox"], .savLibraryPlus .formAdminView .checkbox input[type="checkbox"] {
	margin: 2px;
	float: left;
    position: inherit;	
}
.savLibraryPlus .formView div.column1, .savLibraryPlus .formAdminView div.column1 {
	clear: both;
	min-width: 20%;
	font-weight: bold;
	min-height: 25px;
}

.savLibraryPlus .formView div.column2, .savLibraryPlus .formAdminView div.column2 {
	min-width: 30%;
	min-height: 25px;
	padding: 0 10px 0 10px;
}

.savLibraryPlus .formView .column2 span.checkbox, .savLibraryPlus .formAdminView .column2 span.checkbox	{
	text-align: left;
}

.savLibraryPlus .formView div.column3, .savLibraryPlus .formAdminView div.column3
	{
	min-width: 40%;
	min-height: 25px;
}

.savLibraryPlus .formView .column3 input, .savLibraryPlus .formAdminView .column3 input
	{
	font-size: 12px;
}

.savLibraryPlus .formView .column3 select, .savLibraryPlus .formAdminView .column3 select
	{
	font-size: 12px;
}

.savLibraryPlus div.formView .column3 textarea, .savLibraryPlus .formAdminView .column3 textarea
	{
	font-size: 12px;
}

.savLibraryPlus div.formView .column3 span, .savLibraryPlus .formAdminView .column3 span
	{
	font-size: 12px;
	margin: 2px;
}

.savLibraryPlus .formView div.column4, .savLibraryPlus .formAdminView div.column4Different
	{
	float: right;
	width: 20px;
	background-color: red;
	margin-right: 10px;
}

.savLibraryPlus .formView div.column4Manual, .savLibraryPlus .formAdminView div.column4Same
	{
	float: right;
	width: 20px;
	background-color: green;
	margin-right: 10px;
}

/**
 * Print view specific configuration 
 */
.savLibraryPlus .printView div.label {
	clear: left;
	width: 20%;
	font-weight: bold;
	min-height: 25px;
}

.savLibraryPlus .printView div.field {
	width: 78%;
	min-height: 25px;
	padding: 0 1% 0 1%;
}

.savLibraryPlus .printView div.printCol1 {
	clear: left;
	width: 20%;
	font-weight: bold;
	min-height: 25px;
}

.savLibraryPlus .printView div.printCol2 {
	width: 78%;
	min-height: 25px;
	padding: 0 1% 0 1%;
}

/**
 * single view
 */
.savLibraryPlus div.singleView {
	width: 100%;
	width: calc(100% - 2px);
	border: 1px #000099 solid;
	background-color: #f1fbfd;
}

.savLibraryPlus .singleView div.items {
	width: 100%;
	background-color: #ffffff;
	margin: 2px 0px 0px 0px;
}

.savLibraryPlus .singleView .items div.item {
	width: 100%;
	border-top: 1px #ddeeee solid;
	border-bottom: 1px #ddeeee solid;
	background-color: #ffffff;
	margin-bottom: 1px;
}

.savLibraryPlus .singleView .items .item div.field {
	
}

/**
 * single view field
 */
.savLibraryPlus .singleView .field div.label {
	width: 100px;
	background-color: #d7e8e8;
	color: #000099;
	font-weight: bold;
	text-align: left;
	padding: 4px;
	font-size: inherit;
	white-space: inherit;
}

.savLibraryPlus .singleView .field div.value {
	min-width: 150px;
	background-color: #ffffff;
	padding: 4px;
}

.savLibraryPlus .singleView .field div.doubleSelectorbox {
	padding-right: 5px;
}

.savLibraryPlus .singleView .field div.file {
	clear: left;
}

.savLibraryPlus .singleView .field div.radioButton {
	
}

.savLibraryPlus .singleView .field .radioButton span.radioButtonMessage	{
	margin: 0 5px 0 5px;
}

.savLibraryPlus .singleView .field div.checkbox {
	margin: 0;
}

.savLibraryPlus .singleView .field .richText {
	width: 100%;
}

.savLibraryPlus .singleView .field .richText ul {
	list-style: disc inside;
	float: none;
}

.savLibraryPlus .singleView .field .richText li {
	clear: left;
}

.savLibraryPlus .singleView .field .richText P {
	clear: left;
	float: left;
	margin: 0 0 10px 0;
}
.savLibraryPlus .singleView .field .richText a {
    float: none;	
}
.savLibraryPlus .singleView .field .richText span {
	float: none;
}

.savLibraryPlus .singleView .field .checkbox span.checkboxSelected {
	width: 14px;
}

.savLibraryPlus .singleView .field .checkbox span.checkboxNotSelected {
	width: 14px;
}

.savLibraryPlus .singleView .field .checkbox span.checkboxMessage {
	
}

.savLibraryPlus .singleView div.block {
	width: calc(100% - 10px);
	min-width: 97.5%;
	margin: 2px;
	padding: 2px;
	border: 1px #004898 solid;
}

.savLibraryPlus .singleView div.blockTitle {
	font-weight: normal;
	color: #000099;
	font-weight: bold;
	font-size: 90%;
	border-bottom: solid 1px #004898;
	width: 300px;
	padding-left: 2px;
	margin-bottom: 4px;
}

/** 
 * Single view subform 
 */
.savLibraryPlus .singleView div.subform {
	width: 100%;
	background-color: #ffffff;
	width: calc(100% - 8px);
	margin: 0 3px 0 3px;
	border: 1px #000099 solid;
}

.savLibraryPlus .singleView .subform div.subform {
	width: 100%;
	width: calc(100% - 8px);
	margin: 0 3px 0 3px;
}

.savLibraryPlus .singleView .subform div.subformItem {
	margin-top: 5px;
	width: 100%;
}

.savLibraryPlus .singleView .subform .items div.item {
	margin-bottom: 1px;
}

.savLibraryPlus .singleView .subform div.field {
	margin-bottom: 1px;
}

/**
 * Edit view
 */
.savLibraryPlus div.editView {
	width: 100%;
	width: calc(100% - 2px);
	border: 1px #000099 solid;
	background-color: #f1fbfd;
}

.savLibraryPlus .editView div.items {
	width: 100%;
	background-color: #ffffff;
	margin: 2px 0 0 0;
}

.savLibraryPlus .editView .items div.item {
	width: 100%;
	border-top: 1px #ddeeee solid;
	border-bottom: 1px #ddeeee solid;
	background-color: #ffffff;
	margin: 1px 0 0 0;
}

.savLibraryPlus .editView .items .item div.field {
	
}

/**
 * Edit view fields
 */
.savLibraryPlus .editView .field div.label {
	width: 100px;
	border: 0px #ddeeee solid;
	background-color: #d7e8e8;
	color: #000099;
	font-weight: bold;
	text-align: left;
	padding: 3px;
    font-size: inherit;    
    white-space: inherit;	
}

.savLibraryPlus .editView .field div.error {
	width: 96px;
	border: 2px solid red;
}

.savLibraryPlus .editView .field .label img.required {
	float: right;
}

.savLibraryPlus .editView .field div.value {
	min-width: 150px;
	background-color: #ffffff;
	color: inherit;
	padding: 3px 0 0 3px;
}

.savLibraryPlus .editView .field .value input {
	width: inherit;
	position: relative;
	line-height: normal;
}

.savLibraryPlus .editView .field .value div.file {
	clear: left;
	width: inherit;
}

.savLibraryPlus .editView .field .value div.file input.fileText {
	margin-right: 3px;
}

.savLibraryPlus .editView .field .value div.file input.fileInput {
	
}

.savLibraryPlus .editView .field .value div.file span.fileLink {
	padding: 5px;
}

.savLibraryPlus .editView .field .value select {
	width: inherit;
}

.savLibraryPlus .editView .field .value select.multiple {
	min-width: 50px;
	margin-right: 5px;
}

.savLibraryPlus .editView .field .value div.checkbox {
	width: inherit;
	margin: 0;
}

.savLibraryPlus .editView .field .value .checkbox input {
	margin: 0px;
}

.savLibraryPlus .editView .field .value .checkbox span {
	padding: 0 5px 0 5px;
}

.savLibraryPlus .editView .field .value div.radioButton {
	width: inherit;
}

.savLibraryPlus .editView .field .value .radioButton input {
	
}

.savLibraryPlus .editView .field .value .radioButton span {
	padding: 0 5px 0 5px;
}

.savLibraryPlus .editView .field .value textarea {
	width: inherit;
}

.savLibraryPlus .editView .field .value  td {
	border: red;
}

.savLibraryPlus .editView div.block {
	width: calc(100% - 10px);
	min-width: 97.5%;
	margin: 2px;
	padding: 2px;
	border: 1px #004898 solid;
}

.savLibraryPlus .editView div.blockTitle {
	font-weight: normal;
	color: #000099;
	font-weight: bold;
	font-size: 90%;
	border-bottom: solid 1px #004898;
	width: 300px;
	padding-left: 2px;
	margin-bottom: 4px;
}

/**
 * Edit view subform 
 */
.savLibraryPlus .editView div.subform {
	width: 100%;
	background-color: #ffffff;
	width: calc(100% - 8px);
	margin: 0 3px 0 3px;
	border: 1px #000099 solid;
}

.savLibraryPlus .editView .subform div.subform {
	width: 100%;
	width: calc(100% - 44px);
	margin: 0 3px 0 38px;
}

.savLibraryPlus .editView .subform div.subformItem {
	margin-top: 5px;
	width: 100%;
}

.savLibraryPlus .editView .subform div.subformItem:first-child {
	margin-top: 0;
}

.savLibraryPlus .editView .subform div.items {
	margin: 1px 0 1px 0;
}

.savLibraryPlus .editView .items div.itemIconLeft {
	width: 35px;
	padding: 2px;
}

.savLibraryPlus .editView .subform .items div.item {
	margin-bottom: 1px;
}

.savLibraryPlus .editView .subform .items .item div.field {
	
}

.savLibraryPlus .editView .subform .items .item .field div.label {
	width: 100px;
	background-color: #d7e8e8;
	color: #000099;
	font-weight: bold;
	text-align: left;
	padding: 5px;
}

.savLibraryPlus .editView .subform .items .item .field div.error {
	width: 96px;
	border: 2px solid red;
}

.savLibraryPlus .editView .subform .items .item .field div.value {
	min-width: 150px;
	background-color: #ffffff;
	padding: 5px;
}

/**
 * Export view
 */
.savLibraryPlus div.exportView {
	width: 100%;
	border: 1px #000099 solid;
	background-color: #f1fbfd; 
}

.savLibraryPlus .exportView div.items {
	width: 100%;
	background-color: #ffffff;
	margin: 2px 0 0 0;
}

.savLibraryPlus .exportView .items div.item {
	width: 100%;
	border-top: 1px #ddeeee solid;
	border-bottom: 1px #ddeeee solid;
	background-color: #ffffff;
	margin: 1px 0 0 0;
}

/**
 * Export view general fields  
 */
.savLibraryPlus .exportView .field div.label {
	min-width: 120px;
	background-color: #d7e8e8;
	color: #000099;
	font-weight: bold;
	text-align: left;
	padding: 4px;
}

.savLibraryPlus .exportView .field div.value {
	min-width: 150px;
	padding-left: 3px;
	background-color: #ffffff;
}

/** 
 * Export view special fields 
 */
.savLibraryPlus .exportView .configuration {
	max-width: 300px;
} 

.savLibraryPlus .exportView .configuration select {
	width: 100%;
} 

.savLibraryPlus .exportView .generatedFileLink a {
	float: left;
	padding: 5px;
	margin: 0px;
}

.savLibraryPlus .exportView .field input.xmlFile {
	width: 500px;
}

.savLibraryPlus .exportView .field input.xsltFile {
	width: 500px;
}

.savLibraryPlus .exportView .field input.exec {
	width: 500px;
}

.savLibraryPlus .exportView .field textarea.query {
	width: 500px;
	height: 300px;
}
.savLibraryPlus .exportView .field .checkbox input[type="checkbox"] {
	position: static;
	margin: 0;
	margin-top: 2px;
}

.savLibraryPlus .exportView div.fields {
	width: 100%;
}

.savLibraryPlus .exportView .fields div.value {
	width: 84%;
	width: calc(86% - 8px);
}

.savLibraryPlus .exportView .fields div.checkbox {
	width: 50%;
	position: static;
	margin: 0;
}

.savLibraryPlus .exportView .fields .checkbox input {
	margin-top: 4px;
}

.savLibraryPlus .exportView .fields .checkbox span {
	width: 85%;
	padding: 0 5px 0 5px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	position: static;
	line-height: initial;
}

.savLibraryPlus .exportView .field textarea.whereClause {
	width: 500px;
	height: 90px;
}

.savLibraryPlus .exportView .field input.orderByClause {
	width: 500px;
}

.savLibraryPlus .exportView .field textarea.additionalTables {
	width: 500px;
	height: 30px;
}

.savLibraryPlus .exportView .field textarea.additionalFields {
	width: 500px;
	height: 30px;
}

.savLibraryPlus .exportView .field input.groupByClause {
	width: 259px;
}

.savLibraryPlus .exportView .field textarea.orderedFieldList {
	width: 500px;
	height: 90px;
}

.savLibraryPlus .exportView .field textarea.fieldsConfiguration {
	width: 500px;
	height: 90px;
}

/**
 * Flash messages
 */
.savLibraryPlus .message li {
    border: none;
    padding: 0;
    margin: 0;
}
.savLibraryPlus .message li h4 {
	display: none;
}
.savLibraryPlus .message li .alert-message{
	font-weight: bold;
    color: red;
}

/** 
 * Keeps rte_ckeditor properties 
 */
.savLibraryPlus .cke_reset_all {
	float: none;
}
.savLibraryPlus .cke_reset {
	float: none;
}
.savLibraryPlus .cke_bottom {
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	clear: left;
}

/** 
 * Keeps htmlarea properties 
 */
.savLibraryPlus div.htmlarea table {
	background: inherit !important;
	width: auto !important;
	margin: inherit !important;
	position: inherit !important;
}

.savLibraryPlus div.htmlarea tr {
	background: inherit !important;
	margin: inherit !important;
	padding: inherit !important;
}

.savLibraryPlus div.htmlarea td {
	background: inherit !important;
	margin: inherit !important;
	padding: inherit !important;
}

.savLibraryPlus div.htmlarea label {
	font: inherit !important;
	margin: inherit !important;
}

.savLibraryPlus div.htmlarea select {
	display: inline-block;
	float: none;
}